.flex_scroll{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 100%;
    padding: 2rem;
    padding-top: 0;
    .img{
        margin: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            min-width: 260px;
        }
    }
}
.dots{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 20vw;
    div{
        width: 15px;
        border-radius: 100px;
        background-color: transparent;
        height: 15px;
        border: 1px solid white;
    }
}