.container{
    background: rgba(48, 170, 170, 0.15);
    border-radius: 15px;
    padding: 1.5rem;
    h4{
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 2rem;
    }
}